<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/maths2.css">
</head>

<body>
    <section class="full">
        <section class="inner">
            <h1>PTU Question Papers</h1>
            <section class="content">
                <div class="blocks">
                    <div class="sem">
                        <li> <a href="#">Previous Year Question Paper-May(2018)</a></li>
                    </div>
                </div>
                <div class="blocks">
                    <div class="sem">
                        <li> <a href="#">Previous Year Question Paper-December(2018)</a></li>
                    </div>
                </div>
                <div class="blocks">
                    <div class="sem">
                        <li> <a href="#">Previous Year Question Paper-May(2019)</a></li>
                    </div>
                </div>
                <div class="blocks">
                    <div class="sem">
                        <li> <a href="#">Previous Year Question Paper-December(2019)</a></li>
                    </div>
                </div>
                </div>
                <div class="blocks">
                    <div class="sem">
                        <li> <a href="#">Previous Year Question Paper-May(2020)</a></li>
                    </div>
                </div>
                <div class="blocks">
                    <div class="sem">
                        <li> <a href="#">Previous Year Question Paper-December(2020)</a></li>
                    </div>
                </div>
            </section>
        </section>
    </section>
</body>

</html>