<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/sem1.css">
</head>
<body>
    <section class="full">
        
        <section class="inner">
            <h1>1st Semester CSE/IT Notes</h1>
            <h2>Maths-I</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Handwritten Notes</a></li>
                    <li> <a href="#">Books PDF</a></li>
                    <li> <a href="/maths1">Previous Year Question Papers</a></li>
                </div>
            </div>
            <h2>Physics</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Handwritten Notes</a></li>
                    <li> <a href="#">Books PDF</a></li>
                    <li> <a href="#">Previous Year Question Papers</a></li>
                </div>
            </div>
            <h2>Basic Of Electrical Engineering</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Handwritten Notes</a></li>
                    <li> <a href="#">Books PDF</a></li>
                    <li> <a href="#">Previous Year Question Papers</a></li>
                </div>
            </div>
            <h2>EGD(AutoCad/Drawing)</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Handwritten Notes</a></li>
                    <li> <a href="#">Books PDF</a></li>
                    <li> <a href="#">Previous Year Question Papers</a></li>
                </div>
            </div>
            </div>
            <button class="B-btn1"><li><a href="/back1">Back</a></li></button>
            </section>
</body>
</html>