<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/sem2.css">
</head>
<body>
    <section class="full">
        
        <section class="inner">
            <h1>2nd Semester CSE/IT Notes</h1>
            <h2>Maths-II</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Handwritten Notes</a></li>
                    <li> <a href="#">Books PDF</a></li>
                    <li> <a href="/maths2">Previous Year Question Papers</a></li>
                </div>
            </div>
            <h2>Chemistry-I</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Handwritten Notes</a></li>
                    <li> <a href="#">Books PDF</a></li>
                    <li> <a href="#">Previous Year Question Papers</a></li>
                </div>
            </div>
            <h2>PPS</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Handwritten Notes</a></li>
                    <li> <a href="#">Books PDF</a></li>
                    <li> <a href="#">Previous Year Question Papers</a></li>
                </div>
            </div>
            <h2>English</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Books PDF</a></li>
                    <li> <a href="#">Previous Year Question Papers</a></li>
                </div>
            </div>
            <h2>Workshop</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Books PDF</a></li>
                    <li> <a href="#">Previous Year Question Papers</a></li>
                </div>
            </div>
            <button class="B-btn2"><li><a href="/back2">Back</a></li></button>
            </section>
</body>
</html>